@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
nav{
    margin-top: 20px;
}
nav ul{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
nav ul li{
    list-style: none;
    margin-top: 35px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
i{
    border-color: black;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.title h2{
    font-weight: bold;
}
.top_img img{
    width: 50px;
    border-radius: 50%;
    margin-left: 65%;
}
.food_title{
    margin-top: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.img2{
    width: 50px;
    border-radius: 50%;
    margin-left: 22%;
}
.img3{
    width: 50px;
    border-radius: 50%;
    margin-right: 150px;
}
.food_title h1{
    font-weight: bold;
}
.street{
    color: #6CB840;
}
.food{
    color: #E8AC3A;
}
.food_info{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.food_info .text{
    margin-right: 100px;
}
.food_info div img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.food_info .img_container{
    display: flex;
}

.food_info .img_container .img5{
    margin-right: 115px;
    margin-top: 40px;
}
.food_info .img_container .img4{
    margin-left: 100px;
    margin-top: 40px;
    margin-right: 80px;
}
.food_info .img_container .img6{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 80px;
    margin-top: 50px;
}
.btn{
    width: 120px;
    height: 40px;
    margin-left: 128px;
    border-radius: 30px;
    background-color: #6CB840;
    border: none;
    outline: 0;
    color: white;
    font-weight: 700;
}
.circle{
    position: absolute;
    width: 80%;
    height: 60%;
    bottom: 50%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 550%;
    right: 0;
    top: 0;
    background: #B8E79C;
    clip-path:  circle(850px  at  right);
    margin-bottom: 100px;
    z-index: -1;
}