@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
nav{
    margin-top: 20px;
}
nav ul{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
nav ul li{
    list-style: none;
    margin-top: 35px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
i{
    border-color: black;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.title h2{
    font-weight: bold;
}
.top_img img{
    width: 50px;
    border-radius: 50%;
    margin-left: 65%;
}
.food_title{
    margin-top: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.img2{
    width: 50px;
    border-radius: 50%;
    margin-left: 15%;
}
.img3{
    width: 50px;
    border-radius: 50%;
    margin-right: 150px;
}
.food_title h1{
    font-weight: bold;
}
.street{
    color: #6CB840;
}
.food{
    color: #E8AC3A;
}